/* Body --------------------------------------------------------------------- */

body {
  margin: 0%;
}

/* Header ------------------------------------------------------------------- */

.header {
  background: white;
  position: relative;
  text-align: center;
  height: 10%;
}

.textHeader {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 65px;
  color: #404040;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.imageHeader {
  opacity: 0.7;
}

/* headerLine --------------------------------------------------------------- */

.headerLine {
  width: 706px;
  border-top: 25px solid #D8D8D8;
  border-right: 25px solid transparent;
}

/* mainContent -------------------------------------------------------------- */

.mainContent {
  height: 425px;
  width: 100%;
  background: white;
}

/* Footer ------------------------------------------------------------------- */

.footer {
  right: 0px;
  border-bottom: 25px solid #D8D8D8;
  border-left: 25px solid transparent;
}
