/* Body --------------------------------------------------------------------- */

body {
  margin: 0%;
  font-family: Arial;
}

/* Header ------------------------------------------------------------------- */

.header {
  background: white;
  position: relative;
  text-align: center;
  height: 10%;
}

.textHeader {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 65px;
  color: #404040;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.imageHeader {
  opacity: 0.7;
}

/* headerLine --------------------------------------------------------------- */

.headerLine {
  width: 706px;
  border-top: 25px solid #D8D8D8;
  border-right: 25px solid transparent;
}

/* mainContent  ------------------------------------------------------------- */

.mainContentTopContainer {
  padding: 20px;
  height: 100%;
  overflow: hidden;
  background: yellow;
}

.mainContentBottomContainer {
  padding: 20px;
  height: 100%;
  overflow: hidden;
  background: lightsalmon;
}

/* mainContentTopLeft ------------------------------------------------------- */

.mainContentTopLeft {
  float: left;
  height: 370px;
  width: 45%;
  background: green;
}

.buttonStyle {
  margin-top: 20px;
}

#currencyTitle {
  font-size: 30px;
}

#contentTopLeft {
  margin-left: 10%;
}

#currencyConversionTitle {
  font-size: 30px;
}

/* mainContentTopRight ------------------------------------------------------ */

.mainContentTopRight {
  float: right;
  height: 370px;
  width: 45%;
  background: blue;
}

#conversionTitle {
  margin-left: 10%;
  font-size: 25px;
}

#currencyResultsTextArea {
  margin-left: 10%;
  width: 80%;
  height: 55%;
  font-size: 30px;
  line-height: 50px;
}

#currencyComparisonMessage {
  font-size: 25px;
  margin-left: 10%;
}

/* Dividers ----------------------------------------------------------------- */

.mainContentVerticalDivider {
  display: inline-block;
  position: absolute;
  margin-top: 1%;
  height: 50%;
  left: 49.75%;
  width: 0.5%;
  background: #D8D8D8;
  border-radius: 10px;
}

.mainContentHorizontalLeftDivider {
  display: inline-block;
  position: absolute;
  margin-top: 0.5%;
  height: 1%;
  left: 2.5%;
  width: 42.50%;
  background: #D8D8D8;
  border-radius: 10px;
}

.mainContentHorizontalRightDivider {
  display: inline-block;
  position: absolute;
  margin-top: 0.5%;
  height: 1%;
  right: 2.5%;
  width: 42.50%;
  background: #D8D8D8;
  border-radius: 10px;
}

.horizontalDividerContainer {
  width: 100%;
  height: 25px;
  background: lightyellow;
}

/* mainContentBottomLeft ---------------------------------------------------- */

.mainContentBottomLeft {

  float: left;
  height: 370px;
  width: 45%;
  background: LightSkyBlue;
}

/* mainContentBottomRight --------------------------------------------------- */

.mainContentBottomRight {
  float: right;
  height: 370px;
  width: 45%;
  background: pink;
}

/* Footer ------------------------------------------------------------------- */

.footer {
  /* right: 0px; */
  bottom: 0px;
  border-bottom: 25px solid #D8D8D8;
  border-left: 25px solid transparent;
}
