/* Body --------------------------------------------------------------------- */

body {
  margin: 0%;
  font-family: Arial;
  color: #404040;
}

/* Header ------------------------------------------------------------------- */

.header {
  background: white;
  position: relative;
  text-align: center;
  height: 10%;
}

.textHeader {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 65px;
  color: #404040;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.imageHeader {
  opacity: 0.7;
}

/* headerLine --------------------------------------------------------------- */

.headerLine {
  width: 706px;
  border-top: 25px solid #D8D8D8;
  border-right: 25px solid transparent;
}

/* mainContent  ------------------------------------------------------------- */

.mainContentTopContainer {
  padding: 20px;
  height: 100%;
  overflow: hidden;
}

.mainContentCentreContainer {
  padding: 20px;
  height: 100%;
  overflow: hidden;
}

.mainContentBottomContainer {
  padding: 20px;
  height: 100%;
  overflow: hidden;
}

/* mainContentTopLeft ------------------------------------------------------- */

.mainContentTopLeft {
  float: left;
  height: 430px;
  width: 45%;
  background: #f2f2f2;
}

.buttonStyle {
  margin-top: 20px;
}

.topLeftText {
  font-size: 30px;
}

#contentTop {
  margin-left: 10%;
  margin-right: 10%;
}

/* mainContentTopRight ------------------------------------------------------ */

.mainContentTopRight {
  float: right;
  height: 430px;
  width: 45%;
  background: #f2f2f2;
}

.topRightText {
  font-size: 30px;
}

/* Dividers ----------------------------------------------------------------- */

.mainContentVerticalTopDivider {
  display: inline-block;
  position: absolute;
  margin-top: 1%;
  height: 55%;
  left: 49.75%;
  width: 0.5%;
  background: #D8D8D8;
  border-radius: 10px;
}

.mainContentVerticalCentreDivider {
  display: inline-block;
  position: absolute;
  height: 50%;
  right: 40%;
  width: 0.5%;
  background: #D8D8D8;
  border-radius: 10px;
}

.mainContentVerticalBottomDivider {
  display: inline-block;
  position: absolute;
  height: 50%;
  left: 40%;
  width: 0.5%;
  background: #D8D8D8;
  border-radius: 10px;
}

.mainContentHorizontalLeftDivider {
  display: inline-block;
  position: absolute;
  margin-top: 0.5%;
  height: 1%;
  left: 2.5%;
  width: 42.50%;
  background: #D8D8D8;
  border-radius: 10px;
}

.mainContentHorizontalRightDivider {
  display: inline-block;
  position: absolute;
  margin-top: 0.5%;
  height: 1%;
  right: 2.5%;
  width: 42.50%;
  background: #D8D8D8;
  border-radius: 10px;
}

.horizontalDividerContainer {
  width: 100%;
  height: 25px;
}

/* mainContentCentreLeft ---------------------------------------------------- */

#mainContentCentreLeft {
  float: left;
  height: 370px;
  width: 55%;
  background: #E8E8E8;
  border: 2px solid #404040;
}

/* mainContentCentreRight --------------------------------------------------- */

.mainContentCentreRight {
  float: right;
  height: 370px;
  width: 35%;
  background: #E8E8E8;
}

.currencyGraphTitle {
  font-size: 30px;
}

.contentCentreRight {
  margin-left: 10%;
  margin-right: 10%;
  color: #404040;
}

/* mainContentBottomLeft ---------------------------------------------------- */

#mainContentBottomRight {
  float: right;
  height: 370px;
  width: 55%;
  background: #E8E8E8;
  border: 2px solid #404040;
}

/* mainContentBottomRight --------------------------------------------------- */

.mainContentBottomLeft {
  float: left;
  height: 400px;
  width: 35%;
  background: #E8E8E8;
}

.contentBottomLeft {
  margin-left: 10%;
  margin-right: 10%;
  color: #404040;
}

.historicExchangeRatesGraphTitle {
  font-size: 30px;
}

/* Footer ------------------------------------------------------------------- */

.footer {
  bottom: 0px;
  border-bottom: 25px solid #D8D8D8;
  border-left: 25px solid transparent;
}

/* -------------------------------------------------------------------------- */
/* Features Styling */
/* -------------------------------------------------------------------------- */

/* Dropdown Box ------------------------------------------------------------- */

/* The container must be positioned relative: */
.dropdown {
  position: relative;
  font-family: Arial;
  width: 100%;
  height: 45px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 10px;
}

.dropdown select {
  display: none; /*hide original SELECT element: */
}

.currency-selected {
  background-color: #404040;
}

/* Style the arrow inside the select element: */
.currency-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.currency-selected.arrow-active:after {
  border-color: transparent transparent #E8E8E8 transparent;
  top: 5px;
}

/* style the items (options), including the selected item: */
.currency-options div,.currency-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.currency-options {
  position: absolute;
  background-color: #666666;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.options-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Buttons ------------------------------------------------------------------ */

.buttonStyle {
  background-color: #404040;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #404040;
  border-radius: 10px;
}

.buttonStyle:hover {
  background-color: #E8E8E8;
  border: 2px solid #404040;
  color: #404040;
  border-radius: 4px;
}

.buttonStyle:disabled {
  background-color: #404040;
  border: 2px solid #404040;
  color: white;
  opacity: 0.6;
}

.buttonAlignment {
  float: right;
}

.doubleButtonAlignment {
  display: flex;
  justify-content: center;
}

/* Text Box ----------------------------------------------------------------- */

.textboxStyle {
  width: 30%;
  padding: 5px 5px;
  margin-bottom: 7%;
  margin-left: 4%;
  display: inline-block;
  border: 2px solid dimgray;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  outline: none;
}

.textboxAlignment {
  display: flex;
  justify-content: center;
}

/* Tezt Area ---------------------------------------------------------------- */

#currencyResultsTextArea {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  width: 80%;
  height: 58%;
  font-size: 30px;
  line-height: 50px;
  border: 2px solid #404040;
  outline: none;
}

/* Place Holder ------------------------------------------------------------- */

::placeholder {
  color: #404040;
}
