/* -------------------------------------------------------------------------- */
/* About CSS ---------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* Outer Container ---------------------------------------------------------- */

.outerAboutContent {
  padding: 2%;
  padding-top: 4%;
  padding-bottom: 4%;
  height: 100%;
  width: 96%;
  overflow: hidden;
}

/* Content Text ------------------------------------------------------------- */

.contentText {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  font-size: 18px;
}

/* Purpose Content ---------------------------------------------------------- */

.purposeContent {
  padding-bottom: 1%;
  height: 100%;
  background: #bec9df;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.purposeTitle {
  font-size: 25px;
  margin-top: 0%;
  margin-bottom: 15px;
}

/* Left / Right Content ----------------------------------------------------- */

.rightContent {
  float: right;
  margin-right: 3%;
  padding-bottom: 0;
  width: 63%;
}

/* For mobile device full width */
@media screen and (max-width: 1024px) {
  .rightContent {
    margin-right: 3%;
    margin-left: 3%;
    width: 94%;
  }
}

.leftContent {
  float: left;
  margin-left: 6%;
  width: 20%;
}

/* For mobile device full width */
@media screen and (max-width: 1024px) {
  .leftContent {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}

/* Third Party Content ------------------------------------------------------ */

.thirdPartyContent {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1%;
  width: 100%;
  height: 100%;
  background: #bec9df;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.thirdPartyTitle {
  font-size: 25px;
  margin-top: 5%;
  padding-top: 0;
  margin-bottom: 15px;
}

/* For mobile device full width */
@media screen and (max-width: 1024px) {
  .thirdPartyTitle {
    margin-top: 10%;
  }
}

/* List Styling ------------------------------------------------------------- */

.unorderedListStyle {
  padding-left: 6%;
  font-size: 15px;
}
