/* -------------------------------------------------------------------------- */
/* Main Content BOTTOM CSS -------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* mainContentBottomLeft ---------------------------------------------------- */

#mainContentBottomRight {
  float: right;
  height: 435px;
  width: 55%;
  background: #E8E8E8;
  border: 2px solid #404040;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* For mobile device full width */
@media screen and (max-width: 1024px) {
    #mainContentBottomRight {
      height: 440px;
      width: 100%;
      background: #E8E8E8;
      border: 2px solid #404040;
    }
}

/* mainContentBottomRight --------------------------------------------------- */

.mainContentBottomLeft {
  float: left;
  height: 100%;
  width: 35%;
  background: #E8E8E8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* For mobile device full width */
@media screen and (max-width: 1024px) {
    .mainContentBottomLeft {
      margin: 0;
      margin-bottom: 20px;
      float: left;
      width: 100%;
      background: #E8E8E8;
    }
}

.contentBottomLeft {
  margin-left: 10%;
  margin-right: 10%;
  color: #404040;
}
