/* -------------------------------------------------------------------------- */
/* Main Content TOP CSS ----------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* Main Content Top Left ---------------------------------------------------- */

.mainContentTopLeft {
  float: left;
  height: 430px;
  width: 45%;
  background: #bec9df;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* For mobile device full width */
@media screen and (max-width: 1024px) {
    .mainContentTopLeft {
      margin: 0;
      margin-bottom: 20px;
      height: 100%;
      width: 100%;
      background: #bec9df;
    }
}

.buttonStyle {
  margin-top: 20px;
}

#contentTop {
  margin-left: 10%;
  margin-right: 10%;
}

/* Main Content Top Right --------------------------------------------------- */

.mainContentTopRight {
  float: right;
  height: 430px;
  width: 45%;
  background: #bec9df;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* For mobile device full width */
@media screen and (max-width: 1024px) {
    .mainContentTopRight {
      margin: 0;
      height: 430px;
      width: 100%;
      background: #bec9df;
    }
}
