/* -------------------------------------------------------------------------- */
/* Buttons CSS -------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.buttonStyle {
  background-color: #404040;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #404040;
  border-radius: 10px;
}

.buttonStyle:hover {
  background-color: #E8E8E8;
  border: 2px solid #404040;
  color: #404040;
  border-radius: 4px;
}

.buttonStyle:disabled {
  background-color: #404040;
  border: 2px solid #404040;
  color: white;
  opacity: 0.6;
}

.buttonAlignment {
  float: right;
}

.doubleButtonAlignment {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
