/* -------------------------------------------------------------------------- */
/* Dropdown CSS ------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.currencyDropdown {
  position: relative;
  font-family: Arial;
  width: 100%;
  height: 45px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 10px;
}

/* Hides original SELECT element */
.currencyDropdown select {
  display: none;
}

/* Colour of option div once selected */
.currency-selected {
  background-color: #404040;
}

/* Style the arrow inside the select element */
.currency-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active) */
.currency-selected.arrow-active:after {
  border-color: transparent transparent #E8E8E8 transparent;
  top: 5px;
}

/* Style the currency options */
.currency-options div,.currency-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style currency options */
.currency-options {
  position: absolute;
  background-color: #666666;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed */
.options-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
