/* -------------------------------------------------------------------------- */
/* Extra Features ----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* Titles ------------------------------------------------------------------- */

.contentTitle {
  font-size: 30px;
}

.contentConversionTitle {
  font-size: 30px;
  margin-top: 60px;
}

/* Text Box ----------------------------------------------------------------- */

.textboxStyle {
  width: 30%;
  padding: 5px 5px;
  margin-bottom: 7%;
  margin-left: 4%;
  display: inline-block;
  border: 2px solid #36486c;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  outline: none;
}

/* For mobile device change textbox width */
@media screen and (max-width: 1024px) {
    .textboxStyle {
      width: 45%;
      padding: 5px 5px;
      margin-bottom: 7%;
      margin-left: 4%;
      display: inline-block;
      border: 2px solid #36486c;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 20px;
      outline: none;
    }
}

.textboxAlignment {
  display: flex;
  justify-content: center;
}

/* Text Area ---------------------------------------------------------------- */

#currencyResultsTextArea {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 60%;
  font-size: 30px;
  line-height: 50px;
  border: 2px solid #36486c;
  outline: none;
  font-family: Arial;
}

/* For mobile device decrease size of width */
@media screen and (max-width: 1024px) {
    #currencyResultsTextArea {
      margin-left: 10%;
      margin-right: 10%;
      width: 70%;
      height: 60%;
      font-size: 15px;
      line-height: 50px;
      border: 2px solid #36486c;
      outline: none;
      font-family: Arial;
    }
}

/* Historic Date Boxes ------------------------------------------------------ */

.firstDateBoxStyle {
  width: 50%;
  padding: 5px 5px;
  margin-bottom: 7%;
  display: inline-block;
  border: 2px solid #36486c;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  outline: none;
}

.secondDateBoxStyle {
  width: 50%;
  padding: 5px 5px;
  margin-bottom: 7%;
  margin-left: 4%;
  display: inline-block;
  border: 2px solid #36486c;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  outline: none;
}

/* Stops User From Scolling With Error Popup -------------------------------- */

.popup-stop-scroll {
  height: 100%;
  overflow: hidden;
}

/* Place Holder ------------------------------------------------------------- */

/* Colour of text of placeholder in text */
::placeholder {
  color: #36486c;
}
