/* -------------------------------------------------------------------------- */
/* Dividers CSS ------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* Vertical Dividers -------------------------------------------------------- */

.mainContentVerticalTopDivider {
  display: inline-block;
  position: absolute;
  margin-top: 1%;
  /* height: 55%; */
  height: 400px;
  left: 49.75%;
  width: 0.5%;
  background: #D8D8D8;
  border-radius: 10px;
}

/* For mobile device remove divider */
@media screen and (max-width: 1024px) {
    .mainContentVerticalTopDivider {
        display: none !important;
    }
}

.mainContentVerticalCentreDivider {
  display: inline-block;
  position: absolute;
  margin-top: 1%;
  height: 48%;
  right: 40%;
  width: 0.5%;
  background: #D8D8D8;
  border-radius: 10px;
}

/* For mobile device remove divider */
@media screen and (max-width: 1024px) {
    .mainContentVerticalCentreDivider {
        display: none !important;
    }
}

.mainContentVerticalBottomDivider {
  display: inline-block;
  position: absolute;
  margin-top: 1%;
  height: 500px;
  left: 40%;
  width: 0.5%;
  background: #D8D8D8;
  border-radius: 10px;
}

/* For mobile device remove divider */
@media screen and (max-width: 1024px) {
    .mainContentVerticalBottomDivider {
      display: none !important;
    }
}

/* Horizontal Dividers ------------------------------------------------------ */

.mainContentHorizontalLeftDivider {
  display: inline-block;
  position: absolute;
  margin-top: 0.5%;
  height: 1%;
  left: 2.5%;
  width: 42.50%;
  background: #D8D8D8;
  border-radius: 10px;
}

/* For mobile device full width divider */
@media screen and (max-width: 1024px) {
    .mainContentHorizontalLeftDivider {
      display: inline-block;
      position: absolute;
      margin-top: 0.5%;
      height: 1%;
      left: 5%;
      width: 90%;
      background: #D8D8D8;
      border-radius: 10px;
    }
}

.mainContentHorizontalRightDivider {
  display: inline-block;
  position: absolute;
  margin-top: 0.5%;
  height: 1%;
  right: 2.5%;
  width: 42.50%;
  background: #D8D8D8;
  border-radius: 10px;
}

/* For mobile device remove divider */
@media screen and (max-width: 1024px) {
    .mainContentHorizontalRightDivider {
        display: none !important;
    }
}

.horizontalDividerContainer {
  width: 100%;
  height: 25px;
}

/* For mobile device decrease height of divider */
@media screen and (max-width: 1024px) {
    .horizontalDividerContainer {
      width: 100%;
      height: 10px;
    }
}
