/* -------------------------------------------------------------------------- */
/* Currency History Popup CSS ----------------------------------------------- */
/* -------------------------------------------------------------------------- */

.currencyHistoryPopup {
  position: fixed;
  display: none;
  top: 30%;
  left: 30%;
  right: 30%;
  width: 40%;
  height: 50%;
  background: #bec9df;
  border: 10px solid #36486c;
}

/* For mobile device headerLine */
@media screen and (max-width: 1024px) {
  .currencyHistoryPopup {
    top: 20%;
    left: 15%;
    right: 15%;
    width: 70%;
    height: 60%;
  }
}
