/* -------------------------------------------------------------------------- */
/* Not A Number Popup CSS --------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.notNumberPopup {
  position: fixed;
  display: none;
  top: 30%;
  left: 30%;
  right: 30%;
  width: 40%;
  height: 50%;
  background: #E8E8E8;
  border: 10px solid #404040;
}

/* For mobile device headerLine */
@media screen and (max-width: 1024px) {
  .notNumberPopup {
    top: 10%;
    left: 15%;
    right: 15%;
    width: 70%;
    height: 60%;
  }
}
